<app-navbar></app-navbar>
<!-- Create two rows each with it's purpse first row for social media links the second one is for a message form that's for the mobile -->
<!-- as for the desktop view make these rows columns and the first column is for the form meanwhile the second column will have your social media liks showing you usernames with each platform logo -->
<div class="w-full h-full flex flex-col justify-center items-center">
    <p>This page is still a work in progress</p>
</div>
<app-mobile-nav class="md:hidden"></app-mobile-nav>