@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  .typewriter {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
  }

  .typewriter::after {
    content: '\00a0'; 
    display: inline-block;
    width: 4px; 
    height: 1.5em;
    background-color: text-green-300;
  }

  .text-animation {
    animation: typing 1s steps(20, end) ;
  }

  
  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  
  .blink {
    display: inline-block;
    width: 8px;
    height: 100%;
    background-color: #48BB78; 
    animation: blink 1s infinite;
  }
  