<nav class="max-w-screen-lg flex flex-wrap-reverse justify-center mx-auto md:hidden">
        <ul class="absolute bottom-0 w-full font-medium flex flex-row justify-around mt-4 bg-neutral-200 text-slate-900">
        <li class="pl-1 pr-1">
            <a href="https://dev.to/monzeromer" rel="noopener" target="_blank"
                class="block py-2 px-3 text-slate-900 rounded hover:bg-gray-100 dark:hover:bg-slate-900 dark:hover:text-neutral-200"
                aria-current="page">Dev.to</a>
        </li>
        <li routerLink="/contact-me" routerLinkActive="bg-slate-900 text-neutral-200"
            class=" pl-1 pr-1 select-none block py-2 px-3 hover:text-slate-900 rounded hover:bg-gray-100 dark:hover:bg-slate-900 dark:hover:text-neutral-200">
            <a>Contact me</a>
        </li>
        <li routerLink="/projects" routerLinkActive="bg-slate-900 text-neutral-200"
            class=" pl-1 pr-1 select-none block py-2 px-3 hover:text-slate-900 rounded hover:bg-gray-100 dark:hover:bg-slate-900 dark:hover:text-neutral-200">
            <a>Projects</a>
        </li>
        <li class="pl-1 pr-1">
            <a href="https://github.com/monzeromer-lab" target="_blank" rel="noopener"
                class="select-none block py-2 px-3 text-slate-900 rounded hover:bg-gray-100 dark:hover:bg-slate-900 dark:hover:text-neutral-200">GitHub</a>
        </li>
    </ul>
    
</nav>