<!-- the project card must have a larger width and rounded corners -->
<!-- the card must contain an image, title, date, and github logo for the github repo, the title must be a link to the deployment if it's does exists -->
<!-- there must also be an icons to show what is this kind of project like: CLI app, GUI app, website or a server side app the icon must be in the corner of the image inside a transpernt rectangle -->
<div class="rounded w-11/12 flex flex-col">

    <!-- Image row -->
    <div>
        <img src="" alt="">
        <div>
            <!-- some icon -->
            <!-- some icon -->
            <!-- some icon -->
        </div>
    </div>

    <!-- Title row -->
    <div class="flex flex-row">

        <!-- project title -->
        <div>
            <h2>A project name</h2>
            <span>2000-10-26</span>
        </div>


        <!-- github logo for the project repo link -->
        <div>
            <a href=""><!-- github logo --></a>

        </div>
    </div>
</div>