<app-navbar></app-navbar>
<div class="select-none overflow-y-scroll flex flex-col lg:flex-row-reverse h-full md:h-5/6 w-full md:justify-around md:items-center max-md:py-4 bg-neutral-200 text-slate-900">
  <div class="flex flex-col md:flex-row-reverse justify-around items-center md:w-11/12">
    <div class="flex lg:flex-col items-center justify-center w-1/3">
      <div class="flex items-center flex-col rounded-3xl w-52 bg-neutral-200">
        <img class="object-cover h-full w-full rounded"  src="assets/monzeromer.jpg" alt="Monzer Omer">
      </div>
    </div>

    <div class="lg:flex-col md:w-2/3 max-md:text-center max-md:py-4">
      <h1 class=" text-2xl md:text-4xl font-black">Monzer Omer</h1>
      <h4 class=" max-sm:p-2 md:text-xl">Innovative Software Developer</h4>
      <br>
      <p class="max-sm:p-2 w-full md:text-lg">Welcome to my corner of the web! <br> <br>
        I'm Monzer Omer, a passionate software developer with 4 years of experience. <br>
        I specialize in crafting secure and user-friendly web applications using cutting-edge
        technologies like Rust, TypeScript, Angular, and more. <br> <br>
        Let's explore the world of code together!</p>

        <ul class="flex flex-col md:flex-row mt-4 w-11/12 items-center">
          <li routerLink="/projects" routerLinkActive="bg-slate-900 text-neutral-200" class="border border-slate-900 mb-2 md:mb-0 md:mr-2 select-none block py-2 px-3 hover:text-slate-900 rounded hover:bg-gray-100 dark:hover:bg-slate-900 dark:hover:text-neutral-200">
          <a href="https://monzeromer.vercel.app/projects">Explore My Work</a>
        </li>
        <li>
          <a href="https://monzeromer.vercel.app/assets/Monzer-Omer-Resume.pdf" target="_blank" rel="noopener" class="border border-slate-900 mt-2 md:mt-0 md:ml-2 select-none block py-2 px-3 text-slate-900 rounded hover:bg-gray-100 dark:hover:bg-slate-900 dark:hover:text-neutral-200">Download My Resume</a>
        </li>
        </ul>

    </div>

  </div>

</div>
<!-- <app-mobile-nav class="md:hidden"></app-mobile-nav> -->
