<app-navbar></app-navbar>
<div class="flex flex-col lg:flex-row-reverse h-full md:h-5/6 w-full md:justify-around md:items-center max-md:py-4 bg-neutral-200 text-slate-900">
  <div class="flex flex-col md:flex-row-reverse justify-around items-center md:w-11/12">
    <div class="flex lg:flex-col items-center justify-center w-1/3">
      <div class="flex items-center flex-col rounded-3xl w-52 bg-neutral-200">
        <img class="object-cover h-full w-full rounded-3xl" src="/assets/monzeromer.jpg" alt="Monzer Omer">
      </div>
    </div>

    <div class="lg:flex-col md:w-2/3 max-md:text-center max-md:py-4">
      <h1 class=" text-2xl md:text-4xl font-black">Monzer Omer</h1>
      <h4 class=" max-sm:p-2 md:text-xl">Innovative Software Developer</h4>
      <br>
      <p class="max-sm:p-2 w-full md:text-lg">Welcome to my corner of the web! <br>
        I'm Monzer Omer, a passionate software developer with 4 years of experience. <br>
        I specialize in crafting secure and user-friendly web applications using cutting-edge
        technologies like TypeScript, JavaScript, Rust, and more. Let's explore
        the world of code together!</p>
    </div>

  </div>

</div>